/LIBRARY/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LIBRARY/obj/Debug/net6.0/LIBRARY.AssemblyInfo.cs
/LIBRARY/obj/Debug/net6.0/LIBRARY.AssemblyInfoInputs.cache
/LIBRARY/obj/Debug/net6.0/LIBRARY.assets.cache
/LIBRARY/obj/Debug/net6.0/LIBRARY.GeneratedMSBuildEditorConfig.editorconfig
/LIBRARY/obj/Debug/net6.0/LIBRARY.GlobalUsings.g.cs
/LIBRARY/obj/LIBRARY.csproj.nuget.dgspec.json
/LIBRARY/obj/LIBRARY.csproj.nuget.g.props
/LIBRARY/obj/LIBRARY.csproj.nuget.g.targets
/LIBRARY/obj/project.assets.json
/LIBRARY/obj/project.nuget.cache
/LIBRARY/obj/project.packagespec.json
/LIBRARY/obj/rider.project.model.nuget.info
/LIBRARY/obj/rider.project.restore.info
